//Tailwind
@use "tailwindcss/base";
@use"tailwindcss/components";
@use "tailwindcss/utilities";

.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {

  border-radius: 50%;
  margin: 0 5px;
  animation: loading 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
    border: solid 1px #adb5bd !important;
}